
@{
    ViewBag.Title = "WipeConfig";
}

<h2>WipeConfig</h2>
<h2>Configuration Successfully Wiped</h2>
<div>
    <span style="color:green">@ViewBag.Message</span>
</div>
<div>
    @Html.ActionLink("Back to Home", "Index", "Home")
</div>

